* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satisfy', cursive;
  background-color: rgb(116, 243, 205);
}
.container {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.btn-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: white;
  border-color: black 2px;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.filter-btn:hover {
  background: black;
  color: white;
}

.card {
  background: rgb(199, 27, 133);
  border-radius: 1rem 1rem;
  padding: 1rem;
  text-align: center;
}
img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .btn-container {
    grid-template-rows: repeat(1, 1fr);
    display: grid;
  }
}
